footer{
	padding-left: 240px;
}

/*a:focus, a:hover {
    color: #04BFFE;
}

a {
    color: #04B3AE;
}*/

.main {
	margin: 1%;
}

@media only screen and (max-width : 992px) {
	header, footer {
  		padding-left: 0;
	}
}
    